/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

form[novalidate] input {
  border-width: 3px;
  border-style: solid;
  border-color: #3498db;
}

input[required].ng-pristine {
  border-color: #3498db;
}

input.ng-invalid.ng-dirty {
  border-color: #e74c3c;
}

input.ng-valid.ng-dirty {
  border-color: #2ecc71;
}
